<h1>Upcoming events</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Eventdate</th>
    <th>Eventtime</th>
    <th>Duration</th>
    <th>Location</th>
    <th>Description</th>
    <th>Price</th>
    <th>Icon</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<div id="event_list" >
	<h1>Upcoming events</h1>
	<table>
	<% @events.each do |event| %>
		<tr class="<%= cycle('list_line_odd', 'list_line_even') %>" >
			<td>
				<%= image_tag(event.icon, :class => 'list_image') %>
			</td>
			<td class="list_description" >
				<dl>
					<dt><%= event.title %></dt>
					<dd>
						<table>
							<tr>
								<td><%= event.eventDate %></td>
								<td><%= event.eventTime %></td>
							</tr>
							<tr>
								<td><%= event.location %></td>
							</tr>
						</table>
					</dd>
					<dd><%= truncate(strip_tags(event.description),
						:length => 80) %></dd>
				</dl>
			</td>
			<td class="list_actions" >
				<%= link_to 'Show', event %><br/>
				<%= link_to 'Edit', edit_event_path(event) %><br/>
				<%= link_to 'Destroy', event,
							:confirm => 'Are you sure?',
							:method => :delete %>
			</td>
		</tr>
	<% end %>
	</table>
</div>
<br />

<%= link_to 'New Event', new_event_path %>
