<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @event.name %>
</p>

<p>
  <b>Eventdate:</b>
  <%= ((@event.start_at).to_date()).to_formatted_s(:long) %>
</p>

<p>
  <b>Eventtime:</b>
  <%= ((@event.start_at).to_time()).to_s(:time) %>
</p>

<p>
	<b>Location:</b>
	<%= @event.location %>
</p>

<p>
  <b>Address:</b>
  <%= @event.address %>
</p>

<p>
  <b>Description:</b>
  <%= @event.description %>
</p>

<p>
  <b>Price:</b>
  <%= @event.price %>
</p>

<p>
  <b>Icon:</b>
  <%= @event.icon %>
</p>


<br />
<% if session[:user_id] %>
	<%= gmaps({ "direction" => { "data" => { "from" => @user.address,
		"to" => @event.address } } })%>
<% else %>
	<%= gmaps4rails(@json) %>
<% end %>


<br />

<% if session[:user_id] %>
	<% if @admin %>
		<%= link_to 'Edit', edit_event_path(@event) %> |
	<% end %>
<% end %>
<%= link_to 'Back', :back %>
