<h1>VSU ACM Events</h1>

<% @events.each do |event| %>
	<div class="entry" >
		<%= link_to(image_tag(event.icon), event) %> <h3><%= event.name %></h3>
		<%= event.eventDate %>
		<%= event.eventTime %>
		<%= sanitize(event.description) %>
		
	</div>
<% end %>

<br />
<br />
<br />
<%= gmaps4rails(@json) %>