<!DOCTYPE html>
<html>
	<head>
		<title>VSU ACM</title>
		<!-- START:stylesheet -->
		<%= stylesheet_link_tag :all %> <!-- END:stylesheet -->
		<%= javascript_include_tag :defaults %>
		<%= csrf_meta_tag %>
	</head>
	<body id="store">
		<div id="banner">
			<!-- <%= image_tag("logo.png") %> -->
			<%= @page_title || "VSU ACM" %>
		</div>
		<div id="columns">
			<div id="side">
				<%= link_to 'Home', acm_app_index_path %>
				<br />
				<a href="http://www.acm.org">National ACM</a>
				<br />
				<!--<a href="http://www..../faq">Questions</a><br />

				<a href="http://www..../news">News</a><br />
				<a href="http://www..../contact">Contact</a><br /> -->
				<% if !session[:cart_id].nil? %>
				<%= link_to "My Shopping Cart", cart_path(session[:cart_id]) %>
				<% else %>
				My Shopping Cart
				<% end %>
				<br />
			</div>
			<div id="main">
				<%= yield %><!-- <label id="code.depot.e.include"/> -->
			</div>
		</div>
	</body>
</html>
